<div class="navbar">
  <div class="container">
    <div class="flex justify-content-between">
        <div class="flex flex-row">
          <div class="flex">
            <a routerLink="/"><img src="assets/img/logo.svg" alt="" width="30px"></a>
          </div>
          <div class="flex">
            <a routerLink="/"><span class="txt-header">ครูผู้ช่วย.com</span></a>
          </div>
        </div>
        <div class="flex align-items-center">
          <app-nav-menu class="nav-menu"></app-nav-menu>
        </div>
        <div class="flex">
          <a routerLink="/forum"><i class="pi pi-comments menu" tooltipStyleClass="tooltip" pTooltip="พูดคุย" tooltipPosition="top"></i></a>
          <a routerLink="/stats"><i class="pi pi-chart-line menu" tooltipStyleClass="tooltip" pTooltip="สถิติ" tooltipPosition="top"></i></a>
          <app-nav-menu class="menu pointer" style="margin-top: -3.5px;"></app-nav-menu>
          <span class="img-profile">
            <app-img-profile></app-img-profile>
          </span>
        </div>
    </div>
  </div>
</div>

