.container {
  margin: 80px 135px 20px 135px; // t r b l
}
.contents {
  margin-top: 14px;
  // background-color: aqua;
  width: 100%;
}
.right { margin-left: 30px; width: 300px;}
@media (max-width: 1024px)
{ 
  .container { margin: 10px !important;}
  .right { display: none !important; }
  .contents {
    margin-top: 50px;
  }
}