.txt-menu {
  font-size: 14px;
  color: #726C6C;
  margin-bottom: 20px;
}
.name {
  font-size: 12px;
  margin-left: 10px;
  font-weight: 500;
}
.score {
  font-size: 10px;
  margin-left: 10px;
  font-weight: 200;
}
.circleBase {
  border-radius: 50%;
}
.win1 {
  margin-top: 4px;
  margin-right: 5px;
  width: 7px;
  height: 7px;
  background: #FC9C0D;
}
.win2 {
  margin-top: 4px;
  margin-right: 5px;
  width: 7px;
  height: 7px;
  background: #C4C4C4;
}
.win3 {
  margin-top: 4px;
  margin-right: 5px;
  width: 7px;
  height: 7px;
  background: #B80606;
}
.menu {
  font-family: 'Sarabun';
  font-size: 12px;
  color: #222;
  margin-right: 5px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #222;
  margin-bottom: 15px;
}

::ng-deep .btn .p-button:enabled:hover {
  color: #eee !important;
  background: #222 !important;
  border: 1px solid #222 !important;
}
::ng-deep .btn .p-button:focus {
  color: #eee;
  background-color: #222;
  border: 1px solid #222 !important;
}
