::ng-deep .p-component {
  font-family: 'Sarabun'!important;
  font-weight: 200;
  font-size: 14px;
}
.txt-topic {
  padding-top: 10px;
  padding-left: 25px;
  font-weight: 500;
}
.date {
  font-size: 10px;
  padding-left: 25px;
  font-weight: 400;
}
::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #fff1dd;
  border-color: #fff1dd;
  color: #495057;
}

::ng-deep.p-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0rem #B7996C;
}
::ng-deep .p-dropdown:not(.p.disabled):hover {
  border-color: #B7996C;
}
::ng-deep .p-dropdown:not(.p.disabled).p-focus {
  border-color: #B7996C;
  box-shadow: 0 0 0 0.1rem #fff1dd;
}
::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: #495057;
  background: #fff1dd;
}
.forum-btn {
  font-family: 'Sarabun';
  font-size: 12px;
  color: #eee;
  margin-right: 5px;
  margin-bottom: 20px;
  background: #222;
  border: 1px solid #222;
  margin-bottom: 15px;
}
::ng-deep .forum-btn-hover .p-button:enabled:hover {
  color: #eee !important;
  background: #B7996C !important;
  border: 1px solid #B7996C !important;
}
.txt-forum-menu {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 5px;
  margin-left: 5px;
}

.txt-name {
  font-size: 12px;
  font-weight: 500;
}
.txt-major {
  font-size: 10px;
  color:#726C6C;
}
.txt-topic-comment{
  font-size: 14px;
  font-weight: 500;
}
.txt-date {
  font-size: 8px;
  color:#726C6C;
}
.txt-comment{
  font-size: 14px;
  font-weight: 300;
}
::ng-deep .p-chip .p-chip-text {
  line-height: 1.5;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 10px;
  font-family: 'Sarabun';
}
.mouse {
  cursor: pointer;
}
.comment {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 1px solid #ccc;
  font-family: 'Sarabun';
  font-size: 12px;
  font-weight: 300;
}
.comment:focus {
  outline: none;
  border-bottom: 2px solid #ccc;
}

.btn-comment {
  font-family: 'Sarabun';
  font-size: 12px;
  color: #222;
  background: #eee;
  border: 1px solid #222;
}
::ng-deep .box-comment .p-button:enabled:hover {
  color: #fff !important;
  background: #222 !important;
  border: 1px solid #222 !important;
}
.btn-cancle {
  color:#222;
  margin-top: 8px;
  margin-right: 20px;
  font-size: 12px;
  cursor: pointer;
}
.icon-date {
  font-size: 8px; margin-top: 2px; margin-right: 5px;
}