<div>
  <a href="https://www.facebook.com/%E0%B8%84%E0%B8%A3%E0%B8%B9%E0%B8%9C%E0%B8%B9%E0%B9%89%E0%B8%8A%E0%B9%88%E0%B8%A7%E0%B8%A2com-110744400336909" target="_blank"><i class="pi pi-facebook icon"></i></a>
  <a href="https://www.youtube.com/channel/UCPA-YiEnmNJ9u9d_pJfVywA" target="_blank"><i class="pi pi-youtube icon"></i></a>
</div>
<div class="txt">
  <a routerLink="information/support" target="_blank">สนับสนุนเรา</a> | 
  <a routerLink="information/contact" target="_blank">ข้อมูลการติดต่อ</a> | 
  <a routerLink="information/cookies" target="_blank">นโยบายคุกกี้</a> | 
  <a routerLink="information/policies" target="_blank">ข้อตกลงการใช้งาน</a>
</div>
<div class="txt">สงวนลิขสิทธิ์ © 2565 ครูผู้ช่วย.com</div>

