<div class="flex">
  <div class="box-info">
    <p class="txt-hearder">ข้อมูลการติดต่อ</p>
    <p class="txt-text">
      ขอบคุณที่เข้ามาเยี่ยมชมและติดตามเว็บไซต์ และแอปพลิเคชัน หากมีข้อผิดพลาด คำแนะนำ ข้อสงสัยประการใด
      หรือต้องการลงโฆษณา กรุณาติดต่อผู้ดูแลระบบได้ที่อีเมล kruphoochuay@gmail.com หรือ ติดต่อผู้ดูเพจ <a href="https://www.facebook.com/%E0%B8%84%E0%B8%A3%E0%B8%B9%E0%B8%9C%E0%B8%B9%E0%B9%89%E0%B8%8A%E0%B9%88%E0%B8%A7%E0%B8%A2com-110744400336909" target="_blank">ครูผู้ช่วย.com</a>
    </p>
    <p-divider></p-divider>
    <p class="txt-text">ขอขอบคุณผู้ร่วมแบ่งปันแนวข้อสอบ</p>
      <div class="flex flex-column">
        <div class="flex name-donate">- นางสาวพัชรี ยิ่งยศ</div>
        <div class="flex name-donate">- นายวุฒิชัย พรมมา</div>
        <div class="flex name-donate">- นายชลธี สินสาตร์</div>
        <div class="flex name-donate">- นายอภิรักษ์ บุญกอง</div>
        <div class="flex name-donate">- Brandy Enn</div>
        <div class="flex name-donate">- นางสาวกาญจนา เบ้าสุวรรณ</div>
        <div class="flex name-donate">- นายพิธิพงศ์ ฤทธิ์มนตรี</div>
        <div class="flex name-donate">- นางสาวเพชรรัตน์ โพธิ์ศรี</div>
      </div>
    <p-divider></p-divider>
    <app-info-footer></app-info-footer>
  </div>
</div>