.txt-welcome {
  font-size: 37px;
  font-weight: 500;
  color: #222;
}
.txt-detail {
  font-size: 14px;
  font-weight: 300;
  color: #726C6C;
}

.txt-quote {
  font-size: 10px;
  font-weight: 300;
  color: #726C6C;
}

.icon-love {
  margin: 8px 6px 6px 6px;
  font-size: 40px;
  color: rgb(255, 145, 163);
}

::ng-deep .p-component {
  font-family:'Sarabun'
}

.btn-regis {
  width: 100%;
  text-align: start;
  font-size: 14px;
  font-weight: 300;
}

.txt-topic-major {
  font-size: 24px;
  font-weight: 500;
}

::ng-deep .p-inputtext {
  font-family: 'Sarabun';
  font-size: 14px;
  font-weight: 300;
}

::ng-deep .p-inputtext:enabled:hover {
  border-color: #caa977;
}

::ng-deep .p-inputtext:enabled:focus {
  box-shadow: 0 0 0 0.1rem #f8f7f6;
  border-color: #caa977;
}

::ng-deep .p-dropdown-item {
  font-family: 'Sarabun';
  font-size: 14px;
  font-weight: 300;

  cursor: pointer;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
}

.menu-login {
  font-family: 'Sarabun';
  font-size: 12px;
  color: #222;
  background-color: #EEEEEE;
  border: 0px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.menu-login-confirm {
  font-family: 'Sarabun';
  font-size: 12px;
  color: #fff;
  background-color: #caa977;
  border: 0px;
  margin-right: 5px;
  margin-bottom: 10px;
}

::ng-deep .p-button:enabled:active {
  color: #fff;
  background-color: #B7996C;
  border: 0px;
}
::ng-deep .p-button:enabled:hover {
  color: #fff !important;
  background: #B7996C !important;
  border: 0px !important;
}
::ng-deep .p-button:focus {
  color: #fff;
  background-color: #B7996C;
  box-shadow: 0 0 0 0rem #f8ece7 !important;
}

::ng-deep.p-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0rem #B7996C;
}
::ng-deep .p-dropdown:not(.p.disabled):hover {
  border-color: #B7996C;
}
::ng-deep .p-dropdown:not(.p.disabled).p-focus {
  border-color: #B7996C;
  box-shadow: 0 0 0 0.1rem #fff1dd;
}
::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: #495057;
  background: #fff1dd;
}
