<div class="flex flex-column align-items-center mt-8" *ngIf="step1">
  <div class="flex"><img src="assets/img/logo.svg" alt="ครูผู้ช่วย.com" width="40"></div>
  <div class="flex mt-4 txt-welcome">ฉัน <i class="pi pi-heart icon-love"></i> อาชีพครู</div>
  <div class="flex mt-3 mr-2 ml-2 txt-detail text-center">" ครูที่เยี่ยมที่สุด คือครูที่สามารถสร้างนักเรียนที่ยิ่งใหญ่กว่าตนเอง "</div>
  <div class="flex txt-quote mt-1">- มหาตมะ คานธี -</div>
  <div class="flex flex-column">
    <p-divider></p-divider>
    <div class="flex mt-2 align-items-start">
      <button pButton pRipple type="button" label="ลงทะเบียนด้วย Google" icon="pi pi-google" class="menu-login btn-regis p-button-rounded" (click)="signInWithGoogle()"></button>
    </div>
    <div class="flex align-items-start">
      <button pButton pRipple type="button" label="ลงทะเบียนด้วย Facebook" icon="pi pi-facebook" class="menu-login btn-regis p-button-rounded" (click)="signInWithFacebook()"></button>
    </div>
  </div>
</div>

<div class="flex flex-column align-items-center mt-8" *ngIf="step2">
  <div class="flex"><span class="txt-topic-major">เลือกสาขาเพื่อเจอเพื่อนใหม่</span></div>
  <div class="flex mt-2 mr-2 ml-2">
    <span class="txt-detail">{{ profile.fullname }}</span>
  </div>

  <div class="flex flex-grow-1 mt-5 mr-2 ml-2">
    <p-dropdown 
      placeholder="เลือกกลุ่มสาขาที่จะสมัครสอบ"
      [options]="majors"
      [filter] = "true"
      [(ngModel)]="selectedMajor" 
      optionLabel="major"
      (onChange) = "onChange()"
    ></p-dropdown>
  </div>
  <div class="flex mt-1" *ngIf="alertMessage">
    <p-message severity="info" text="เลือกสาขาแล้วไปเจอเพื่อนใหม่"></p-message> 
  </div>
  
  <div class="flex mt-4 mb-2">
    <button (click)="register('skip')" pButton pRipple type="button" label="ข้าม" class="menu-login p-button-rounded"></button> &nbsp;&nbsp;
    <button (click)="register('ok')" pButton pRipple type="button" label="ตกลง" class="menu-login-confirm p-button-rounded"></button>
  </div>

</div>
<p-messages></p-messages>
