<div class="flex">
  <div class="box-info">
    <p class="txt-hearder">ข้อตกลงการใช้งาน</p>
    <p class="txt-text">
      เว็บไซต์ครูผู้ช่วย.com เป็นบริการสำหรับทำข้อสอบออนไลน์ จัดทำขึ้นเพื่อสาธารณะประโยชน์
      มีการลงทะเบียนเข้าใช้งานและจัดเก็บข้อมูลบางส่วน เช่น อีเมล ชื่อ สาขาวิชา เพื่อใช้ในการเก็บคะแนนข้อสอบ
      และสถิติการสอบ รวมถึงการร่วมแสดงความคิดเห็นกับคนอื่น ๆ
    </p>
    <p class="txt-text">
      หากเราตรวจสอบได้ว่ามีการกระทำที่ไม่เหมาะสมในการเข้าใช้งานเว็บไซต์ ผู้ดูแลระบบจะดำเนินการทันทีโดยไม่แจ้งล่วงหน้า
      สำหรับการลบข้อมูลออกจากระบบ ท่านสามารถแจ้งได้ที่อีเมล kruphoochuay@gmail.com
    </p>
    <p-divider></p-divider>
    <app-info-footer></app-info-footer>
  </div>
</div>