::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: #B7996C;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  border-radius: 0;
  width: 20px;
  height: 5px;
}

::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button {
    background-color: #e9ecef;
    height: 0.5rem;
    width: 20px;
    height: 5px;
}

::ng-deep .p-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.1rem #f3dbb8;
}