.box-info {
  margin-top: 50px;
  padding: 10px 100px 40px 100px;
  background-color: #fff;
  border-left: solid;
  border-color: #B7996C;
  border-width: 5px;
}
.txt-hearder {
  color:#B7996C;
  font-size: 24px;
  font-weight: 600;
}
.txt-text {
  font-size: 14px;
  font-weight: 200;
  color:#222;
}

@media (max-width: 1024px)
{ 
  .box-info { 
    margin: 10px !important;
    padding: 10px !important;
    border-left: none;
  }
}