<div class="flex">
  <div class="box-info">
    <p class="txt-hearder">นโยบายคุกกี้</p>
    <p class="txt-text">
      1. คุกกี้คืออะไร คุกกี้ คือ ไฟล์ข้อความขนาดเล็กที่ถูกดาวน์โหลดไปยังอุปกรณ์คอมพิวเตอร์หรืออุปกรณ์มือถือของท่าน ซึ่งทำหน้าที่บันทึกข้อมูลและการตั้งค่าต่าง ๆ 
      เช่น บันทึกข้อมูลการตั้งค่าภาษาในอุปกรณ์บนอุปกรณ์ของท่าน บันทึกสถานะการเข้าใช้งานในปัจจุบันของท่าน 
      เพื่อช่วยให้ท่านสามารถเข้าใช้งานเว็บไซต์และ/หรือแอปพลิเคชัน (รวมเรียกว่า “บริการ”) ได้อย่างต่อเนื่อง 
      รวมถึงมีการรวบรวมข้อมูลเกี่ยวกับประวัติการเข้าใช้งานบริการที่ท่านชื่นชอบในรูปแบบไฟล์ 
      โดยคุกกี้ไม่ได้ทำให้เกิดอันตรายต่ออุปกรณ์ของท่าน และเนื้อหาในคุกกี้จะถูกเรียกออกมาดูหรืออ่านได้โดยบริการที่สร้างคุกกี้ดังกล่าวเท่านั้น
    </p>
    <p class="txt-text">
      2. คุกกี้เพื่อการให้บริการ คุกกี้เพื่อการให้บริการจะช่วยให้ท่านสามารถใช้บริการ และ/หรือเข้าถึงฟังก์ชันต่าง ๆ ได้ เช่น คุกกี้ที่จัดการเรื่องการเข้าสู่ระบบ (Login) 
      และสถานะการเข้าสู่ระบบของท่าน
    </p>
    <p class="txt-text">
      3. คุกกี้ที่ช่วยเสริมประสิทธิภาพในการใช้บริการ คุกกี้ที่ช่วยเสริมประสิทธิภาพในการใช้บริการจะช่วยอำนวยความสะดวกแก่ท่านในการใช้บริการ
      ตัวอย่างการอำนวยความสะดวกแก่ท่านในการใช้บริการด้วยคุกกี้ประเภทนี้ คือ ช่วยจำสถานะของการใช้บริการ เช่น ภาษาที่เลือกใช้
      ช่วยจำคำตอบที่ท่านเคยตอบไปแล้ว ซึ่งจะช่วยให้ท่านไม่ต้องตอบคำถามเดิมซ้ำอีก นอกจากนี้มีการใช้งานโปรแกรมเสริม (Plugin) 
      และบริการของบุคคลที่สาม เช่น Google Analytics, Facebook
    </p>
    <p class="txt-text">
      4. วิธีปิดการทำงานของคุกกี้
      ท่านสามารถปิดการทำงานของคุกกี้ได้ โดยการตั้งค่าเบราว์เซอร์ของท่าน และตั้งค่าความเป็นส่วนตัวเพื่อระงับการรวบรวมข้อมูลโดยคุกกี้ในอนาคต (รายละเอียดเพิ่มเติมสามารถศึกษาได้จาก AboutCookies.org)
    </p>
    <p class="txt-text">
      <a href="https://www.set.or.th/th/cookies_policy.html" target="_blank" style="font-size: 10px;">ข้อมูลอ้างอิง</a>
    </p>
    <p-divider></p-divider>
    <app-info-footer></app-info-footer>
  </div>
</div>