.menu-box {
  background-color: #EEEEEE;
  text-align: center;
  border-radius: 15px;
  width: 300px;
  margin: 5px;
}
.txt-box {
  font-weight: 200;
  color: #222;
  font-size: 16px;
  padding: 10px;
  text-align: center;
}
.btn {
  font-family: 'Sarabun';
  font-size: 21px;
  color: #222;
  margin-bottom: 30px;
  background: #eee;
  border: 1px solid #222;
}

::ng-deep .menu-box .p-button:enabled:hover {
  color: #fff !important;
  background: #222 !important;
  border: 1px solid #222 !important;
}
::ng-deep .menu-box .p-button:focus {
  color: #fff;
  background-color: #222;
  border: 1px solid #222 !important;
}

.menu-box2 {
  border-radius: 15px;
  background-color: #fff1dd;
  text-align: center;
  width: 300px;
  margin: 5px;
}
.txt-box2 {
  font-weight: 200;
  color: #B7996C;
  font-size: 16px;
  padding: 10px;
  text-align: center;
}
.btn2 {
  font-family: 'Sarabun';
  font-size: 21px;
  color: #B7996C;
  margin-bottom: 30px;
  background: #fff1dd;
  border: 1px solid #B7996C;
}

::ng-deep .menu-box2 .p-button:enabled:hover {
  color: #fff1dd !important;
  background: #B7996C !important;
  border: 1px solid #B7996C !important;
}
::ng-deep .menu-box2 .p-button:focus {
  color: #fff1dd;
  background-color: #B7996C;
  border: 1px solid #B7996C !important;
}