::ng-deep .p-component {
  font-family: 'Sarabun'!important;
  font-weight: 200;
  font-size: 14px;
}
.date {
  font-size: 12px; 
  padding-top: 8px;
  font-weight: 400;
}
::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #fff1dd;
  border-color: #fff1dd;
  color: #495057;
}

::ng-deep.p-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0rem #B7996C;
}
::ng-deep .p-dropdown:not(.p.disabled):hover {
  border-color: #B7996C;
}
::ng-deep .p-dropdown:not(.p.disabled).p-focus {
  border-color: #B7996C;
  box-shadow: 0 0 0 0.1rem #fff1dd;
}
::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: #495057;
  background: #fff1dd;
}