/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200;300;400;500;600;700;800&display=swap');
body { font-family: 'Sarabun', sans-serif; margin: 0 auto; background-color: #fafafa;} 
a:link {color: #726C6C; text-decoration: none;}
a:visited {color: #726C6C;}
a:hover {color: #B7996C;}
a:active {color: #B7996C;}
