<div class="flext mt-5 text-center" *ngIf="!exams">
  <p-progressSpinner></p-progressSpinner>
</div>

<div class="flex screen justify-content-center" *ngIf="screenDisplay">
  <div class="flex align-items-center screen-txt-count"> {{ countNumber }} </div>
</div>

<div class="container" *ngIf="exams">
  <div class="flex md:flex-row md:mt-0 mt-4 flex-column justify-content-center">

    <!-- แสดงคะแนน -->
    <div class="flex justify-content-center mb-4" *ngIf="checkDone">
      <div class="flex flex-column md:mr-3 mr-0">
        <div class="box-result-all">
          <div class="flex flex-column mb-1 justify-content-center">
            <div class="flex justify-content-center mb-1"><p-avatar image="{{ userProfile.profile }}" shape="circle" size="xlarge"></p-avatar></div>
            <div class="flex justify-content-center">
              <span class="fullname">{{ userProfile.fullname.substr(0, 30) }} </span>
              <span class="fullname" *ngIf="userProfile.fullname.length >=30 ">...</span>
            </div>
          </div>
          <div class="flex justify-content-center">
            <span style="font-size: 48px; font-weight: 300;">{{ score }}/{{ exams.length }}</span> 
          </div>
        </div>
        <div class="flex justify-content-center">
          <i class="pi pi-list box-icon-result" style="margin-right: 5px;" pTooltip="ดูทั้งหมด" tooltipPosition="top" tooltipStyleClass="tooltip" (click)="changeViewList()"></i> 
          <i class="pi pi-table box-icon-result" style="margin-right: 5px;" pTooltip="ดูทีละข้อ" tooltipPosition="top" tooltipStyleClass="tooltip" (click)="changeViewOne()"></i>
          <i class="pi pi-chart-line box-icon-result" pTooltip="สถิติ" tooltipPosition="top" tooltipStyleClass="tooltip" (click)="directTostats()"></i>
        </div>
      </div>
    </div>

    <!-- แสดงทีละข้อ -->
    <div class="flex flex-column flex-grow-1" *ngIf="!showList">

        <div class="flex flex-row mb-3 justify-content-between" *ngIf="!checkDone">
          <div class="flex">
            <i class="pi pi-clock box-clock"></i><span class="time">{{ M }} : {{ S }}</span>
          </div>
          <div class="flex" *ngIf="btnChangeQuestion; else elseBlock">
            <span pTooltip="เปลี่ยนคำถาม" tooltipPosition="top" tooltipStyleClass="tooltip" (click)="changeQuestion(exams[arr].num)">
              <i class="pi pi-sort-alt box-icon-result"></i>
            </span>
          </div>
          <ng-template #elseBlock>
            <span pTooltip="หมดสิทธิ์" tooltipPosition="top" tooltipStyleClass="tooltip">
              <i class="pi pi-sort-alt box-icon-disabled"></i>
            </span>
          </ng-template>
        </div>

        <p-progressBar [value]="progress" [showValue]="false" [style]="{'height': '8px', 'margin-bottom':'10px'}" *ngIf="!checkDone"></p-progressBar>

        <div *ngIf="displaySkeleton">
          <p class="text-center txt-change-question">กำลังเปลี่ยนคำถาม</p>
          <p-skeleton width="100%" height="2rem" [style]="{'margin-bottom':'15px'}"></p-skeleton>
          <p-skeleton width="80%" [style]="{'margin-bottom':'10px'}"></p-skeleton>
          <p-skeleton width="57%" [style]="{'margin-bottom':'10px'}"></p-skeleton>
          <p-skeleton width="97%" [style]="{'margin-bottom':'10px'}"></p-skeleton>
          <p-skeleton width="75%" [style]="{'margin-bottom':'10px'}"></p-skeleton>
        </div>

        <div class="flex flex-column box-question" *ngIf="!displaySkeleton">
          <div class="flex flex-column md:flex-row mb-3 question">
            <div class="flex mr-3 mb-3 md:mt-0 md:mb-0 justify-content-center" *ngIf="exams[arr].img !=='' ">
              <img src="{{ path }}/course/img/{{ exams[arr].img }}" alt="img" width="250"  class="img-exam">
            </div>
            <div class="flex">{{ exams[arr].num }}. {{ exams[arr].question }}</div>
          </div>
          
          <div class="flex justify-content-between">
            <div class="flex choice" (click)="sendAnswer(exams[arr].num , '1')" [ngClass]="{'activeAnswer': exams[arr].answer === '1'}" > ก. {{ exams[arr].choice1 }} </div>
            <div class="flex" *ngIf="exams[arr].correctAnswer === '1' "> <i class="pi pi-check icon-check"></i> </div>
            <div class="flex" *ngIf="exams[arr].correctAnswer !== '0' && exams[arr].answer === '1' &&  exams[arr].check === false "> <i class="pi pi-times icon-check"></i> </div>
          </div>
          <p-divider></p-divider>
      
          <div class="flex justify-content-between">
            <div class="flex choice" (click)="sendAnswer(exams[arr].num , '2')" [ngClass]="{'activeAnswer': exams[arr].answer === '2'}" > ข. {{ exams[arr].choice2 }} </div>
            <div class="flex" *ngIf="exams[arr].correctAnswer === '2' "> <i class="pi pi-check icon-check"></i> </div>
            <div class="flex" *ngIf="exams[arr].correctAnswer !== '0' && exams[arr].answer === '2' &&  exams[arr].check === false "> <i class="pi pi-times icon-check"></i> </div>
          </div>
          <p-divider></p-divider>
      
          <div class="flex justify-content-between">
            <div class="flex choice" (click)="sendAnswer(exams[arr].num , '3')" [ngClass]="{'activeAnswer': exams[arr].answer === '3'}" > ค. {{ exams[arr].choice3 }} </div>
            <div class="flex" *ngIf="exams[arr].correctAnswer === '3' "> <i class="pi pi-check icon-check"></i> </div>
            <div class="flex" *ngIf="exams[arr].correctAnswer !== '0' && exams[arr].answer === '3' &&  exams[arr].check === false "> <i class="pi pi-times icon-check"></i> </div>
          </div>
          <p-divider></p-divider>
      
          <div class="flex justify-content-between">
            <div class="flex choice" (click)="sendAnswer(exams[arr].num , '4')" [ngClass]="{'activeAnswer': exams[arr].answer === '4'}" > ง. {{ exams[arr].choice4 }} </div>
            <div class="flex" *ngIf="exams[arr].correctAnswer === '4' "> <i class="pi pi-check icon-check"></i> </div>
            <div class="flex" *ngIf="exams[arr].correctAnswer !== '0' && exams[arr].answer === '4' &&  exams[arr].check === false "> <i class="pi pi-times icon-check"></i> </div>
          </div>
          <p-divider></p-divider>
        </div>
      
        <div class="flex flex-row justify-content-between mt-5">
          <div class="flex btn-nb" (click)="back()">
            <button *ngIf="backBtn" pButton pRipple type="button" icon="pi pi-arrow-left" class="p-button-rounded p-button-text"></button>
          </div>
          <div class="flex btn-send mt-2">
            <span class="txt-mode" *ngIf="!sendAnswerBtn"> {{ type === 'training' ? 'โหมดฝึกฝน' : 'โหมดแข่งขัน' }} </span>
            <button pButton pRipple (click)="checkScore()" *ngIf="sendAnswerBtn"  type="button" label="ตรวจคำตอบ" class="p-button-outlined p-button-rounded"></button>
          </div>
          <div class="flex btn-nb" (click)="next()">
            <button *ngIf="nextBtn" pButton pRipple type="button" icon="pi pi-arrow-right" class="p-button-rounded p-button-text"></button>
          </div>
        </div>
   
    </div>

    <!-- แสดงรายการ -->
    <div class="flex flex-grow-1" *ngIf="showList">
      <div class="flex flex-column flex-grow-1">
        <div class="flex box-list-result justify-content-center"><span>รายการข้อสอบ</span></div>
        <div class="flex">
          <p-table [value]="exams" styleClass="p-datatable-sm" style="width: 100%;" responsiveLayout="scroll">
            <ng-template pTemplate="body" let-exam let-i="rowIndex">
                <tr class="txt-result">
                    <td>
                      <div class="flex mb-2 mt-2" *ngIf="exam.img !=='' ">
                        <img src="{{ path }}/course/img/{{ exam.img }}" alt="img" width="150" class="img-exam-sm">
                      </div>
                      <div class="flex mb-1">
                        ข้อ {{ i+1 }}. {{ exam.question }}
                      </div>
                      <div class="flex mb-1">
                        ตอบ {{ 
                          exam.answer === '1' ? exam.choice1 : 
                          exam.answer === '2' ? exam.choice2 :
                          exam.answer === '3' ? exam.choice3 :
                          exam.answer === '4' ? exam.choice4 :
                          'ไม่ได้ตอบคำถาม'
                        }}
                      </div>
                      <div class="flex txt-result-answer" *ngIf="!exam.check">
                        เฉลย {{ 
                          exam.correctAnswer === '1' ? exam.choice1 : 
                          exam.correctAnswer === '2' ? exam.choice2 :
                          exam.correctAnswer === '3' ? exam.choice3 :
                          exam.correctAnswer === '4' ? exam.choice4 :
                          'ไม่พบข้อมูล'
                        }}
                      </div>
                    </td>
                    <td>
                      <div class="flex justify-content-end">
                        <div class="flex mr-2" *ngIf="exam.check; else elseBlock">
                          <i class="pi pi-check"></i>
                        </div>
                        <ng-template #elseBlock>
                          <div class="flex mr-2">
                            <i class="pi pi-times"></i>
                          </div>
                        </ng-template>
                        <div *ngIf="exam.ref !== ''; else elseBlock2">
                          <a href="{{ exam.ref }}" target="_blank">อ้างอิง</a>
                        </div>
                        <ng-template #elseBlock2>
                          <del>อ้างอิง</del>
                        </ng-template>
                      </div>
                    </td>
                </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>

  </div>
</div>
<p-messages></p-messages>
